# Dependencies
node_modules/
bun.lockb

# Build outputs
dist/
.angular/cache

# Version control
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Testing
coverage
.nyc_output

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
